@model System.Collections.Generic.IEnumerable<Tweeter.Web.ViewModels.Tweet.TweetViewModel>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_DefaultTweetsLayout.cshtml";
}
@if (TempData["message"] != null)
{
    if (((bool)TempData["isMessageSuccess"]) == true)
    {
        <div class="alert alert-success">
            @TempData["message"]
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            @TempData["message"]
        </div>
    }
}

@if (this.User.Identity.IsAuthenticated)
{
    Html.RenderPartial("Tweet/_CreateTweetPartial");
}

<div class="tweets">
    @Html.DisplayFor(tweets => tweets)
</div>

@section Scripts{
    <script>
        $(function () {
            $.connection.hub.start().done(function() {
                console.log("Connection is ready.");
            });

            var tweeter = $.connection.tweeterHub;

            // Register client functions called from server
            tweeter.client.showTweet = showTweet;

            function showTweet(tweetId) {
                console.log(tweetId);
                var tweetPartial = $('<div>').load('/Tweets/GetPartialTweet/' + tweetId);
                console.log(tweetPartial);
                $('.tweets').prepend(tweetPartial);
            }
        })
    </script>
}