@using System.Linq
@model System.Collections.Generic.IEnumerable<Tweeter.Web.ViewModels.Notification.NotificationViewModel>
@{
    Layout = "~/Views/Shared/_DefaultTweetsLayout.cshtml";    
}
@if (Model.Any())
{
    @Html.DisplayFor(model => model)
}
else
{
    <div class="alert alert-warning">
        There are no notifications
    </div>
}