@using System.Linq
@model Tweeter.Web.ViewModels.User.UserViewModel
@{
    ViewBag.Title = "User page";
    Layout = "~/Views/Shared/_DefaultTweetsLayout.cshtml";
}

@if (Model.Tweets.Any())
{
    @Html.DisplayFor(u => u.Tweets);
}
else
{
    <div class="alert alert-danger">
        <h2>Nothing to show!</h2>
    </div>
}