@using Kendo.Mvc.UI
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Tweets Admin Panel</h2>
@(Html.Kendo().Grid<Tweeter.Web.InputModels.TweetInputModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(t => t.Id).Width(30).Title("Id");
        columns.Bound(t => t.AuthorId);
        columns.Bound(t => t.CreatedOn).Width(150);
        columns.Bound(t => t.Text);
        columns.Command(command =>
        {
            command.Edit();
            command.Destroy();
        }).Width(180);
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Events(events => events.Error("error_handler"))
        .Model(model =>
        {
            model.Id(t => t.Id);
            model.Field(t => t.Id).Editable(false);
        })
        .Create(update => update.Action("EditingInline_Create", "Tweets"))
        .Read(read => read.Action("EditingInline_Read", "Tweets"))
        .Update(update => update.Action("EditingInline_Update", "Tweets"))
        .Destroy(update => update.Action("EditingInline_Destroy", "Tweets"))
    )
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
